/* These styles are used in the backend editor AND in the Theme (frontend) */

/* CSS is provided by the theme itself, and modified by any custom css you add to the theme. */
/* But that CSS is not active when using the backend-editor, so here is a good place to put  */
/* any custom css which should be active in the frontend website and also applied to editor. */
/* The goal is to make the visual editor display as like the final frontend view as possible */
/* so do not forget to configure the TinyMCE styles dropdown with elements to match these.   */

/* Suggested general non-tag-specific visual styles (for all websites) */

.list		{ margin: 0.35rem 0; }
.stdtop     { margin-top: 0.65rem !important; }
.moretop    { margin-top: 0.8rem  !important; }
.lotstop    { margin-top: 1rem    !important; }
.hugetop    { margin-top: 1.3rem  !important; }
.stdbottom  { margin-bottom: 0.65rem !important; }
.morebottom { margin-bottom: 0.8rem  !important; }
.lotsbottom { margin-bottom: 1rem    !important; }
.hugebottom { margin-bottom: 1.3rem  !important; }

.topless    { margin-top: 0 !important; }
.bottomless { margin-bottom: 0 !important; }

.beforelist { margin-bottom: 0.3rem; }

.lastitempx { padding-bottom: 12px !important; }
.lastitemem { margin-bottom: 0; padding-bottom: 1.3rem; }

strong, .strong, .fett, .bold, .smallBold, .smallerBold { font-weight: bold; }

/* Revert to normal text within strong */
.notstrong { font-weight: normal; }

.smaller, .smallerBold { font-size: 0.95rem; line-height: 1.25; }

.small, .smallBold { font-size: 0.89rem; line-height: 1.2; }

/* Append your site-specific styles here */
.heading {
    font-size: 36px;
    font-family: "Roboto Slab";
    color: rgb(234, 74, 100);
    line-height: 1.001;
    text-align: center;
    -moz-transform: matrix( 0.9990774994293,0,0,1.00112326829471,0,0);
    -webkit-transform: matrix( 0.9990774994293,0,0,1.00112326829471,0,0);
    -ms-transform: matrix( 0.9990774994293,0,0,1.00112326829471,0,0);
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: none;
    border-radius: 10px;
}
.default-button {
    margin: 0px;
    padding: 12px;
    color: #fff;
    background-color: #ea4a64;
    height: 46px;
    width: 275px;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}
.default-button:hover,
.default-button:focus{
    color: #FFFFFF;
    background-color: #e3465d;
    box-shadow: none;
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow:    0px 5px 15px 0px rgba(0, 0, 0, 0.2);
    box-shadow:         0px 5px 15px 0px rgba(0, 0, 0, 0.2);
}